/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.formstyle {
  width: 50%;
  margin: auto;
  padding: 20px 5px;
}

.todostyle{
  width: 70% !important;
  margin: auto !important;
  padding: 20px 5px;
}

#root {
  background: linear-gradient(110deg, #c1bdfc 60%, #a4c8eb 60%);
}
