@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.svg_icons {
  transform: scale(1.8);
  margin: auto;
}

body {
  /* background-image: url("https: //images.unsplash.com/photo-1464618663641-bbdd760ae84a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8d2Vic2l0ZSUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D&w=1000&q=80") !important; */
  background-image: linear-gradient(
    109.6deg,
    rgba(156, 252, 248, 1) 11.2%,
    rgba(110, 123, 251, 1) 91.1%
  );
}

.active{
  color: #0b2ce2 !important;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 66%;
  border: 2px solid rgb(9, 34, 255) !important;
  padding: 10px !important;
  border-radius: 10px 50px !important;
  margin-bottom: auto;
  border-collapse: inherit !important;
}

.colorful-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  background-color: #3f91ee;
  border-radius: 10px;
  width: 800px !important;
  margin-top: 10px;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333333;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #fff;
  color: #333;
  border-radius: 5px;
}

textarea.form-input {
  height: 100px;
}

.form-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #15bdff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #1129ff;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.4em;
  background-color: #1a5286;
  border-radius: 25px;
  transition: 0.4s ease-in-out;
  width: 600px;
  margin: auto;
  margin-top: 100px;
}
/* 
.form:hover {
  transform: scale(1.05);
  border: 1px solid rgb(13, 35, 231);
} */

#heading {
  text-align: center;
  margin: 2em;
  color: rgb(255, 255, 255);
  font-size: 1.2em;
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 25px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  background-color: #2a3150;
  box-shadow: inset 2px 5px 10px rgb(48, 60, 87);
}

.input-icon {
  height: 1.3em;
  width: 1.3em;
  fill: white;
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #d3d3d3;
}

.form .btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2.5em;
}

.button1 {
  padding: 0.5em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 5px;
  margin-right: 0.5em;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background-color: #5d90f0;
  color: white;
}

.button1:hover {
  background-color: rgb(10, 110, 241);
  color: white;
}

.button2 {
  padding: 0.5em;
  padding-left: 2.3em;
  padding-right: 2.3em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background-color: #5d90f0;
  color: white;
}

.button2:hover {
  background-color: rgb(10, 110, 241);
  color: white;
}

.card {
  box-shadow: 0 8px 12px 0 rgba(0, 39, 71, 0.993);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.cards {
  box-shadow: 0 8px 12px 0 rgba(0, 26, 255, 0.993);
  max-width: 850px;
  margin: auto;
  margin-top: 100px;
  text-align: center;
  font-family: arial;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
.snip1143 {
  font-family: "Raleway", Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}
.snip1143 * {
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1143 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.5em;
  overflow: hidden;
}
.snip1143 nav-link {
  padding: 0.3em 0;
  color: rgba(10, 3, 3, 0.5);
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0;
  text-decoration: none;
}
.snip1143 nav-link:before,
.snip1143 a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1143 nav-link:before {
  top: 100%;
  display: block;
  height: 3px;
  width: 100%;
  content: "";
  background-color: #0b2ce2;
}
/* .snip1143 nav-link:after {
  padding: 0.3em 0;
  position: absolute;
  top: 100%;
  left: 0;
  content: attr(data-hover);
  color: rgb(26, 20, 20);
  white-space: nowrap;
} */
.snip1143 li:hover nav-link,
.snip1143 .current a {
  transform: translateY(-100%);
}

.demo-wrap {
  position: relative;
}
.demotable {
  position: relative;
}
.demotable:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-image: url("https://images.unsplash.com/photo-1558591710-4b4a1ae0f04d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.demo-wrap:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-image: url("https://assets.digitalocean.com/labs/images/community_bg.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.demo-content {
  position: relative;
}
